:root{
    --color-main: #ffff;
    --color-secondary: #CCDEFC;
    --color-text-neutral: #074095;
    --color-success: #D5F5D9;
    --color-danger: #FACDD7;
    --color-text: #202225;
    --text-color-sucess: #2F943B;
    --text-color-danger: #A30D30;
    --color-border: #ccc;
    --color-sidebar: #F0F0F2;
    
    --space-small: 15px;
    --space-large: 30px;
    --space-button: 12px 18px;

    --border-radius: 8px;

    --font-size-h1: 2rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-body: 1rem;
    --font-size-small: 0.875rem;
    --font-size-caption: 0.75rem;

    --transition: 0.2s ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: minmax(150px, 300px) 1fr;
    height: 100vh;
    line-height: 1.5;
    font-weight: 400;
}

h1, h2, h3 {
  font-weight: 600;
}

p, li{
    font-size: var(--font-size-body);
}

button{
    font-size: var(--font-size-body);
    border: none;
    padding: var(--space-button);
    border-radius: var(--border-radius);
    transition: var(--transition);
}

.color-danger{
    background-color: var(--color-danger);
    color: var(--text-color-danger);
}

.color-success{
    background-color: var(--color-success);
    color: var(--text-color-sucess);
}

button:hover{
    cursor: pointer;
}

button:hover, input:hover{
    opacity: 0.7;
}

.btn-neutral{
    background-color: var(--color-secondary);
    color: var(--color-text-neutral);
    
}

nav{
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    gap: 4rem;
    padding: var(--space-large);
    background-color: var(--color-sidebar);


}

ul{
    list-style: none;
}

dialog{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: none;
    border-radius: var(--border-radius);
    
    z-index: 9999; 
    background: white;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

dialog > div{
       display: flex;
       gap: var(--space-small);
}

input{
    border: none;
    border: 2px #ccc solid;
    border-radius: var(--border-radius);
    padding: var(--space-small);
    font-size: 16px;
    transition: var(--transition);
}



input:focus{
    outline: none;
    border: 3px solid var(--color-secondary);
    

}

#navbar-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
}

#projects-list{
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
    
}

.sidebar-item:hover{
    width: fit-content;
    color: var(--color-text-neutral);
    cursor: pointer;
}





